<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/template :: header">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-12">
			<nav th:replace="/layout/template :: navegacion"></nav>
			<div class="card mt-5">
				<div class="card-header"></div>
				<div class="card-body">
				<a class="btn btn-primary" href="/pasajes/form">Registrar Pasaje</a>
						<table class="table mt-3">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">CLIENTE</th>
									<th scope="col">CLASE</th>
									<th scope="col">ASIENTO</th>
									<th scope="col">PRECIO</th>
									<th scope="col">EDITAR</th>
									<th scope="col">ELIMINAR</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pasaje : ${pasajes}">
									<th scope="row" th:text="${pasaje.id}"></th>
									<td th:text="${pasaje.cliente}"></td>
									<td th:text="${pasaje.clase}"></td>
									<td th:text="${pasaje.asiento}"></td>
									<td th:text="${pasaje.precio}"></td>
									<td><a class="btn btn-warning"
										th:href="@{/pasajes/form/} +${pasaje.id}" th:text="Editar"></a></td>
									<td><a class="btn btn-danger"
										th:href="@{/pasajes/eliminar/} +${pasaje.id}" th:text="Eliminar" onclick="return confirm('Estas seguro de eliminar')"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
		</div>		
	</div>
</div>
</body>
</html>